*{
    box-sizing: border-box;
}

/* body{
    background-color: #000000cc;
} */

#product-overview {
    background : url("images/plans-background.jpg");
    /* background-image: linear-gradient(to top, rgba(80,68,18,0.6) 10%, transparent),url("images/plans-background.jpg"); */
    background-size: cover;
    background-position: left 20% top 30%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    width : 100%;
    height : 80vh;
    margin-top: 54px;
    position: relative;
}

.backdrop{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    top: 0;
    left: 0;
    display: none;
}

#product-overview h1 {
    color : white;
    font-family : 'Anton', sans-serif;
    letter-spacing: 2px;
    padding : 20px;
    position: absolute;
    left:-50px;
    top: 10px;
    font-size: 2rem;
    animation: myheader;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes myheader{
    0%{
        left:-50px;
    }
    100%{
        left:34%;
    }
}

@media (max-width: 680px){
    @keyframes myheader{
        0%{
            left:-50px;
        }
        100%{
            left:10px;
        }
    }
}

.section-title {
    color: #4c5e7f;
    text-align: center;
    font-family:"Anton",sans-serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

/*flex-container*/
.plan_lists{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.plan {
    background-color:#4a505dd4;
    padding : 1rem;
    margin: 1rem;
    width : 25rem;
    min-width: 13rem;
    max-width: 25rem;
    box-shadow: 2px 2px 10px #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.plan h3{
    text-align:center;
}

.plan-highlighted {
    background-color:#373e4b;
    color : white;
}

@media (max-width: 45rem){
    .plan{
        margin:0;
    }
}
@media (max-width: 40rem){
    .plan_lists{
        flex-direction:column;
    }
    .plan{
        width:100%;
        max-width:100%;
        margin: 0.5rem 0;
        border-radius: 0;
        box-shadow:none;
    }
}

.plan-anotation {
    background : white;
    color : #beb21e;
    padding : 8px;
    border-radius : 8px;
    box-shadow : 2px 2px 2px 2px rgba(0,0,0,0.5);
}

.plan_features {
    list-style : none;
    margin : 0;
    padding : 0;
    display:flex;
    flex-direction:column;
    align-items:center;
    color: #fff;
}

.plan_features li{
    margin : 8px;
}

.plan_title {
    color : #000;
}

.plan_price {
    color :#fff;
}

.plan-highlighted .plan_title {
    color : #f8c3c3;
}

.plan-highlighted .plan_price {
    color : #8cefa6;
}


#key_features {
    background: #303a5f;
}

#key_features .section-title {
    color: white;
    margin-top: 80px;
    padding-top: 2rem;
}

.key-features_list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.key-feature-element {
    margin: 1rem;
    padding: 0.5rem;
    width: 25%;
}

@media (max-width: 30rem){
    .key-features_list{
        flex-direction:column;
        align-items: center;
    }
    .key-feature-element{
        width: 100%;
    }
    #key_features .section-title{
        font-size: 1.5rem;
        padding-left:1rem;
        padding-right:1rem;
    }

}

.key-feature-description {
    color: white;
    padding: 8px;
    font-weight:bold;
    text-align: center;
}

.key-feature-image{
    background: #ffcede;
    width:128px;
    height: 128px;
    border: 3px solid black;
    border-radius: 50%;
    margin: auto;
    padding: 30px;
}

.modal{
    background-color:white;
    width: 35%;
    height: 150px;
    padding: 0.5rem;
    margin: 0.5rem;
    position: fixed;
    top: 25%;
    left: 32%;
    z-index: 200;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    transition-property:opacity, transform;
    transition-duration: 0.2s, 0.5s;
    display: none;
    transform:translateY(-3rem);  
}
@media (max-width: 650px){
    .modal{
        width: 50%;
        height: 200px;
        left: 24%;
        padding: 1rem;
    }
}
@media (max-width: 480px){
    .modal{
        width: 70%;
        height: 200px;
        left: 12%;
        padding: 1rem;
    }
}

.modal_title{
    font-size: 1.5rem;
    font-family: montserrat;
    margin: 1rem;
}

.modal_actions{
    text-align: center;
}

.modal_action{
    text-decoration:none;
    background-color: #0e4f1f;
    border: 2px solid #0e4f1f;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    vertical-align: middle;
}

.modal_action-negative{
    background-color: #ff5454;
    border: 2px solid #ff5454;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    width: 66.85px;
    height: 39.2px;
    outline:none;
    cursor: pointer;
}

.modal_action:hover,
.modal_action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}


.modal_action-negative:hover,
.modal_action-negative:active {
  background: red;
  border-color: red;
}

/* .open{
    display: block;
    opacity: 1;
    transform: translateY(0);
} */

