@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

:root{
    --navLogoColor: #8306f5;
    --navLinkColor: #8cefa6;
}    

*{
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main-header {
    background :#1d2d44;
    padding : 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-button{
    background: transparent;
    width: 2.5rem;
    padding-top:0;
    padding-bottom:0;
    border:none;
    cursor:pointer;
    vertical-align: middle;
    display: none;
}

.toggle-button:focus{
    outline:none;
}

.toggle-button_bar{
    width:100%;
    height: 0.2rem;
    background:var(--navLinkColor);
    display:block;
    margin:0.5rem 0;
    border-radius: 10px;
}

.main-header_brand {
    color :var(--navLogoColor);
    text-decoration : none;
    font-weight : bold;
    font-size : 1.3rem;
    vertical-align: middle;
}

.main-header_brand img{
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
}

.main-nav {
    display: flex;
}

.main-nav_items {
    padding : 0;
    margin : 0;
    list-style: none;
    display:flex;
}

.main-nav_item {
    margin : 0.6rem;
}

.main-nav_item a, .mobile-nav_item a{
    text-decoration : none;
    color :var(--navLinkColor);
    font-weight: bold;
}
.main-nav_item a:hover, .main-nav_item a:active,
.mobile-nav_item a:hover, .mobile-nav_item a:active{
    color : white;
    font-weight : bold;
    border-bottom : 3px solid white;
    padding-bottom: 0.3rem;
}

.main-nav_item-cta{
    animation: wiggle 0.5s 2s infinite;
}

.main-nav_item-cta a, .mobile-nav_item-cta a{
    color : white;
    background : #ff1b68;
    padding: 0.5rem;
    border-radius : 8px;
}
.main-nav_item-cta a:hover, .main-nav_item-cta a:active, 
.mobile-nav_item-cta a:hover, .mobile-nav_item-cta a:active{
    color : #ff1b68;
    background : white;
    font-weight : bold;
    border : none;
}

.mobile-nav{
    background-color:#2f425c;
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    text-align: center;
    display: none;
}
.mobile-nav_items{
    width: 90%;
    height: 100%;
    list-style-type: none;
    padding:0;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.mobile-nav_item{
    padding: 0.5rem;
    margin: 0.5rem;
    font-weight: bold;
}

.button {
    background:#1154a8;
    color: white;
    font: inherit;
    font-weight: bold;
    padding: 0.5rem;
    border: 2px solid #1154a8;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover, .button:active {
    background: white;
    color: #1154a8;
}

.button:focus {
    outline:none;
}

.button[disabled]{
    background: #ccc;
    border: 1px solid #a1a1a1;
    color: #a1a1a1;
    cursor: not-allowed;
}

.main-footer{
    background: #373e4b;
    margin-top: 2rem;
}

.main-footer_list{
    list-style: none;
    margin: 0;
    padding: 1rem;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

.main-footer_link{
    padding: 1rem;
    margin: 1rem;
}

.main-footer_link a{
    color: white;
    text-decoration: none;
}

.main-footer_link a:hover, .main-footer_link a:active{
    color: rgb(140, 129, 209);
}


@media (max-width:575px){
    .main-nav{
        display: none;
    }
    .toggle-button{
        display:inline-block;
    }
    .main-footer_list{
        flex-direction: column;
        align-items: center;
    }
    .main-footer_link{
        padding: 0.5rem;
        margin: 0.5rem;
    }
}

@keyframes wiggle{
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(-10deg);
    }
    100%{
        transform: rotateZ(10deg);
    }
}