*{
    box-sizing: border-box;
}

.testimonial{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.testimonial_image-container{
    width: 65%;
}

.testimonial_image:hover{
    animation: flip-customer 3s forwards;
}

.testimonial_image{
    width: 100%;
    max-width: 800px;
    box-shadow: 3px 3px 8px gray;
}

.testimonial_info{
    width: 30%;
    margin: auto;
}

.testimonial_info:hover{
    animation: text-enlarge 2s forwards;
}


.testimonial_name{
    color: #ff5454;
    margin-bottom: 0.5rem;
}

.testimonial_subtitle{
    color: #858585;
    font-size: 1rem;
    margin: 0;
}

.testimonial_subtitle a{
    text-decoration: none;
    color: #858585;
}

.testimonial_text{
    font-size: 1.2rem;
    margin-top: 0.3rem;
}

#customer-1{
    margin: 5rem 0 5rem;
}

#customer-1 .testimonial_info{
    text-align: right;
    padding-left: 2rem;
    margin-right: 2rem;
}

#customer-2{
    text-align: right;
}

#customer-2 .testimonial_info{
    text-align: left;
    padding-right: 2rem;
    margin-left: 2rem;
}

#customer-2 .testimonial_image-container img{
    box-shadow: -3px -3px 8px gray;
}


@media (max-width: 50rem){
    .testimonial{
        flex-direction: column;
        align-items: center;
    }
    .testimonial_image-container{
        width: 100%;
    }
    .testimonial_info{
        width: 90%;
    }
    #customer-2 .testimonial_image-container{
        margin-top: 0.5rem;
    }
    
}


@keyframes flip-customer{
    0%{
        transform: rotateY(0deg);
    }

    50%{
        transform: rotateY(160deg);
    }

    100%{
        transform: rotateZ(360deg);
    }
}

@keyframes text-enlarge{
    0%{
        font-size: 1rem;
    }

    100%{
        font-size: 2rem;
    }
}


