body{
    background: url("https://www.crucial.com.au/blog/wp-content/uploads/2015/04/sharedhosting_blog.jpg") no-repeat center/cover;
}

main{
    padding-top: 4rem;
}

.signup-title{
    text-align: center;
    color: #ff5454;
}

.signup-form{
    padding: 2rem;
    background: #fff;
    box-shadow: 2px 2px 10px  #373e4b;
}

.signup-form label{
    font-weight: bold;
    /* color: #fff; */
}

.signup-form input:not([type="checkbox"]), 
.signup-form select{
    border: 1px solid #ccc;
    padding: 0.2rem 0.5rem;
    font: inherit;
}

.signup-form input:focus, .signup-form select:focus{
    outline: none;
    background-color: #d8f3df;
    border-color: #2ddf5c;
}

.signup-form label,
.signup-form select,
.signup-form input{
    display: block;
    margin-top: 1rem;
    width: 100%;
}

.signup-form :invalid{
    border-color: red !important;
    background: #f59b9b !important;
}

/* .signup-form input[type="checkbox"] */
.signup-form input[id*="terms"],
.signup-form input[id*="terms"] + label{
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.signup-form input[type="checkbox"]{
    width: 1rem;
    height: 1rem;
    margin-left: 0;
}

.signup-form button[type="submit"]{
    display: block;
    margin: 1rem auto 0 auto;
}

@media (min-width: 40rem){
    .signup-form{
        width: 25rem;
        margin: auto;
    }
}
